@font-face {
    font-family: "BITD-Progress-Clocks";
    src: url("fonts/progress-clocks.woff") format('woff');
}

.brand {
    font-family: "BITD-Progress-Clocks";
    font-size: 28pt;
    color: white;
}

.clock {
    font-family: "BITD-Progress-Clocks";
    font-size: 48pt;
    color: white;
}

.button-clock {
    padding: 40px;
    margin: 5%;
}

/*
body {
    background-image: url("img/grunge-background.jpg");
    background-repeat: repeat-y;
}
*/