@font-face {
    font-family: "BITD-Progress-Clocks";
    src: url("fonts/progress-clocks.woff") format('woff');
}

.brand {
    font-family: "BITD-Progress-Clocks";
    font-size: 28pt;
}

.clock {
    font-family: "BITD-Progress-Clocks";
    font-size: 4em;
}

.button-clock {
    margin-top: 5%;
}

/*
body {
    background-image: url("img/grunge-background.jpg");
    background-repeat: repeat-y;
}
*/